body {
    text-align: center;
    color: blue;
    font-size:  14px;
    background-color: red;
}

body:hover{
    border : 5px solid black;
    text-decoration: none;
    color: white;
    color-interpolation-filters: auto;
    text-shadow: 0 1px;
}