body {
    text-align: center;
    color: rgb(14, 179, 36);
    font-size: 80px;
    background-color: red;
}

body:hover {
    border: 5px solid black;
    text-decoration: none;
    color: white;
    color-interpolation-filters: auto;
    text-shadow: 0 1px;
}